.signup-grid {
  display: grid;
  grid-template-columns: 30vw 80vw;
  overflow: hidden;
  height: 100vh;
}
.form-item {
  padding: 1rem;
}
.image img {
  height: 100%;
  width: 100%;
}

.signup {
  background: black;
  color: aliceblue;
}
.signup label {
  display: inline-block;
  width: 5rem;
  font-size: 1rem;
}
.submitBtn {
}
.submitBtn[data-isOn="true"] {
}
/* Client side form validation */

input:invalid {
  border: 2px solid red;
}

@media screen and (max-width: 700px) {
  .signup-grid {
    grid-template-columns: auto;
  }
}
