@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}
