.nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  font-weight: 700;
  transition: 0.2s;
}

.nav:hover {
  background-color: rgba(26, 25, 25, 0.9);
}
.nav label {
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: 1rem;
}

.nav ul {
  margin-top: 1rem;
  white-space: nowrap;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
}

.nav li {
  display: inline-block;
  padding: 0px 1.5rem;

  font-size: 1.1rem;
  color: white;
}
span {
  padding-left: 0.5rem;
}

/* To make only icons visible */
@media screen and (max-width: 910px) {
  span {
    display: none;
  }
}
/*  */
@media screen and (max-width: 768px) {
  .nav ul {
    white-space: inherit;
  }
}
