.signin-grid {
  display: grid;
  grid-template-columns: 70vw 30vw;
  overflow: hidden;
  height: 100vh;
}
.form-item {
  padding: 1rem;
}
.signin-grid .image {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/signin-1.jpg");
  background-position: 0 12%;
  background-size: cover;
}

.signin {
  background: rgb(7, 26, 7);
  color: aliceblue;
  position: relative;

  box-shadow: 15px 0px 40px 40px #19231d;
}
label {
  display: inline-block;
  width: 5rem;
  font-size: 1rem;
}
.submitBtn {
}
.submitBtn[data-isOn="true"] {
}
/* Client side form validation */

input:invalid {
  border: 2px solid red;
}

@media screen and (max-width: 700px) {
  .signin-grid {
    grid-template-columns: auto;
  }
  .signin-grid .image {
    background-position: 0;
  }
}
