.shoppingtitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 50vw;
  padding-bottom: 10px;
}
.shoppinglist-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.shoppinglist {
  width: 50vw;
  height: 118px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.inner-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 5px;
}
.item-image-container img {
  width: 80px;
  height: 82px;
}

.box {
  margin: 10px;
}
.payment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2px 25px;
  gap: 15px;
  color: white;
  width: 400px;
  height: 556px;
  background: #565abb;
  border-radius: 20px;
}

.payment-detail {
  width: 400px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}
.payment-detail label {
  width: 138px;
  height: 21px;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
}
.payment-detail input {
  width: 100%;
  height: 40px;
  background: #6268c6;
  border-radius: 6px;
  border: none;
}
.cost-detail {
  display: flex;
  justify-content: space-between;
}
.checkout-btn {
  color: white;
  width: 100%;
  background: #4de1c1;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}
.checkout-btn:hover {
}
@media screen and (max-width: 760px) {
  .shoppinglist-container {
    grid-template-columns: auto;
    padding: 0;
  }
  .shoppinglist {
    width: 100%;
  }
  .shoppingtitle {
    width: 100vw;
    text-align: center;
  }
}
